<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Hex</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>@app.name@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIdentifier</key>
	<string>org.trypticon.hex</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>@app.name@ @app.version@ - @app.copyright@</string>
	<key>CFBundleShortVersionString</key>
	<string>@app.version@</string>
	<key>CFBundleVersion</key>
	<string>@app.version@</string>

    <!-- If you specify this, you have to bundle Java itself. Maybe that isn't a bad idea though. TODO: Decide.
    <key>JVMRuntime</key>
    <string>jdk1.7.0_45.jdk</string>
    -->

    <key>JVMArchs</key>
    <array>
        <string>x86_64</string>
    </array>
    <key>JVMMainClassName</key>
    <string>org.trypticon.hex.gui.Main</string>
    <key>JVMOptions</key>
    <array>
        <string>-ea</string>
    </array>

</dict>
</plist>
